h1 { color: #003d7a }
h2 { color: #003d7a }
h3 { color: #003d7a }
a:link { text-decoration:none; font-weight:bold; color:#292b2c; }
a:visited { text-decoration:none; font-weight:bold; color:#292b2c; }
a:hover { text-decoration:none; font-weight:bold; color:#003d7a; }
a:active { text-decoration:none; font-weight:bold; color:#003d7a; }
a:focus { text-decoration:none; font-weight:bold; color:#003d7a; }

button {
	border: none;
}

#topmenu {
	background-color: #007a3d;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
}

#calendarimg {
	position:absolute;
	top:5px;
	left:5px;
}

#menu {
	background-color: #007a3d;
	position: absolute;
	left: 0px;
	top: 50px;
	height: 100%;
	width: 150px;
}

#login {
	line-height: 50px;
	position: absolute;
	right: 10px;
	vertical-align: middle;
}

#content {
	position:absolute;
	left: 160px;
	top: 50px;
	width: -moz-calc(100% - 160px);
        width: -webkit-calc(100% - 160px);
        width: calc(100% - 160px);
}

.signupbutton {
     background-color: #60B044;
     background-image: linear-gradient(#8ADD6D, #60B044);
     background-repeat: repeat-x;
     border-radius: 3px;
     color: #FFFFFF !important;
     font-family: sans-serif ;
     font-size: 13px;
     font-weight: bold;
     padding: 7px 12px;
     position: relative;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}

.error {
	color: red;
}
